body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.product-images img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.product-description,
.product-specifications,
.product-buy {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-specifications table {
    width: 100%;
    border-collapse: collapse;
}

.product-specifications th,
.product-specifications td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-buy {
    text-align: center;
}

.product-buy button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.product-buy button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}